.downloadAndWatch {
  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }

  .animation-card-container {
    flex-direction: row-reverse;

    .story-card-animation-container {
      position: relative;
    }
  }

  .story-card-text {
    padding: 0 0 0 3rem;
  }

  .story-card-animation {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 2em 0 #000;
    border-radius: 0.75em;

    .story-card-animation-image {
      height: 4.5em;
      margin: 0 1em 0 0;
      flex-grow: 0;
      flex-shrink: 0;
      object-fit: cover;

      img {
        height: 4.5rem;
      }
    }

    .story-card-animation-text {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0.3em 0;

      .text-0 {
        color: #fff;
        font-weight: 600;
        font-size: 1em;
      }

      .text-1 {
        color: #0071eb;
        font-size: 0.75em;
        font-weight: 400;
      }
    }
  }

  .story-card-animation:after {
    content: "";
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif)
      center center no-repeat;
    background-size: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
